<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register Now!</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='quartz.css')}}">
</head>
<body>
    <div class="container d-flex justify-content-between mt-3 text-center">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Not A Member?  Register Here!</h4>
                <form action="/register" method="post">
                <ul class="list-group list-group-flush form-control">
                    <li class="list-group-item">
                        <label for="first_name" class="form-label">First Name:</label>
                        <input type="text" name="first_name" id="first_name" class="form-control">
                    </li>
                    <li class="list-group-item" class="form-label">
                        <label for="last_name">Last Name:</label>
                        <input type="text" name="last_name" id="last_name" class="form-control">
                    </li>
                    <li class="list-group-item" class="form-label">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </li>
                    <li class="list-group-item" class="form-label">
                        <label for="password">Password</label>
                        <input type="text" name="password" id="password" class="form-control">
                    </li>
                    <li class="list-group-item" class="form-label">
                        <label for="password_confirm">Password Confirmation:</label>
                        <input type="text" name="password" id="password_confirm" class="form-control">
                    </li>
                </ul>
                <input type="submit" class="btn btn-primary mt-3" value="Register!">
                </form>
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h4 class="card-title">Already A Member?  Login Here!</h4>
                <form action="/login" method="post">
                <ul class="list-group list-group-flush form-control">
                    <li class="list-group-item" class="form-label">
                        <label for="email">Email:</label>
                        <input type="text" name="email" id="email" class="form-control">
                    </li>
                    <li class="list-group-item" class="form-label">
                        <label for="password">Password</label>
                        <input type="text" name="password" id="password" class="form-control">
                    </li>
                </ul>
                <input type="submit" class="btn btn-primary mt-3" value="Login!">
                </form>
            </div>
        </div>
    </div>
</body>
</html>